<!DOCTYPE html>
<html>
    <head>
        <title>Sign in</title>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="../public/css/register.css">
    </head>
    <body>
        
    <div id="main">
        <div id="header">
            <!-- Begin nav -->
            <ul id="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#band">Band</a></li>
                <li><a href="#tour">Tour</a></li>
                <li><a href="#contact">Contact</a></li>
                <li>
                    <a href="#">
                        More
                        <i class="nav-arrow-down ti-angle-down"></i>                       
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Merchandise</a></li>
                        <li><a href="#">Extras</a></li>
                        <li><a href="#">Media</a></li>
                    </ul>
                </li>
            </ul>
            <!-- End nav -->

            <!-- Begin search button -->
            <div class="search-btn">
                <i class="search-icon ti-search"></i>
            </div>

            <div id="mobile-menu" class="mobile-menu-btn">
                <div class="menu-icon ti-menu"></div>
            </div>
            <!-- End search button -->

        </div>
        <div>
                <header class="modal-header">
                    <!-- <i class="modal-heading-icon ti-bag"></i> -->
                    Đăng kí
                </header>
    
                <div class="modal-body">
                    <!-- <label class="modal-label"> -->
                    <!-- Username -->
                    <form action="./dang-ki" method="post">
                    </label>
                    <!-- <input type="text" class="modal-input"> -->
                    <input id="sso_account" type="text" placeholder="Tên truy cập" autocorrect="off" autocapitalize="off">
                    <!-- để icon -->
                    <label class="modal-label">
                        <i class="ti-user"></i> 
                    <!-- Email -->
                    </label>
                    <input id="sso_account" type="email" placeholder="Email" autocorrect="off" autocapitalize="off">

                    <!-- <input id="sso_account" type="email" class="modal-input"> -->
                    <!-- Password -->
                    </label>
                    <input id="sso_account" type="text" placeholder="Mật khẩu" autocorrect="off" autocapitalize="off">

                    <!-- <input id="sso_account" type="text" class="modal-input"> -->

                    <!-- Confirm Password -->
                    </label>
                    <input id="sso_account" type="text" placeholder="Nhập lại mật khẩu" autocorrect="off" autocapitalize="off">

                    <!-- <input id="sso_account" type="text" class="modal-input"> -->
    
                    <button id="submit">
                    Đăng kí 
                    </button>
                    </form>
                    
                </div>
        </div>
            
    </body>
</html>